* {
  margin: 0px;
  padding: 0px;
}

body {
    font-size: 15px;
    font-family:Georgia, Helvetica, sans-serif;
    background-color: wheat;
    cursor: pointer;
}

/* styles for the nav-bar section
 (the logo-img,the logo-text, the nav-links) */

.nav-bar {
  background: #4A0000;
  padding: 3px;
  font-family: lobster, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
  
}

.logo {
  margin: 10px;
  padding: 6px;
  
  
}

.logo-img {
  width: 78px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 6px 5px 6px 5px black;
  border: 2px solid wheat;
}

.logo-img:hover,
.logo-text:hover,
.mission-img:hover,
.vision-img:hover{
  transform: translateX(20%);
  transform: translateY(25%);
  border: 4px solid red;
  box-shadow: 10px 15px 10px 15px black;
}


.logo-text , .splash-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  padding: 10px;
  border:2px solid wheat;
  border-radius: 10px;
  text-align: center;
  background: #4A0000;
  box-shadow: 6px 6px 4px 4px black;
  color: #fff;
}

.logo-img {
  position: fixed;
  
  margin: 08px;
  left: 10px;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.logo-text {
  position: absolute;
  margin: 10px;
  font-weight: 100px;
  position:fixed;
  
  left: 120px;
  top: 10px;
  z-index:1000;
}

.nav-links {
  margin: 10px;
  padding: 10px;
  color: #fff;
/*background-color: #4A0000;*/
  display: none;
  
}

body {
  transition: background-color 0.5s ease;
}

 .nav-bar, .footer {
  transition: background-color 0.5s ease;
  transition: display 0.5s ease;
}


.splash-btn {
  margin: 10px;
  padding: 10px;
  color: #fff;
  background-color: #4A0000;
  display:inline-block;
  
}


.menu {
  margin: 20px;
  padding: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color:#000;
}

button {
  color: #fff;
  margin: 8px;
  padding: 6px;
  background: #4A0000;
  border: 2px solid wheat;
  border-radius: 5px;
  box-shadow: 6px 6px 5px 5px black;
  
}



button:hover {
  background: wheat;
  border: 2px solid red;
  box-shadow: 10px 15px 10px 15px black;
  color: #000;
}

.drop-down {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5px;
  padding: 7px;
  border:2px solid #4A0000;
  border-radius: 6px;
  text-align: center;
  background: wheat;
  box-shadow: 6px 6px 4px 4px black;
  color: #fff;
  filter: drop-shadow(2px 2px 2px 2px red);

}

.line-breaker {
  color: red;
  background: red;
  filter: drop-shadow(2px 2px 2px 2px red);
}

/* the hero section */

.hero {
  margin: 3px;
  padding: 6px;
  text-align: center;
  color: red;
 
  background-image: url('images/singers1.png');
  background-clip: cover;
  text-shadow: black;
  filter: drop-shadow(2px 2px 2px 2px red);
  box-shadow:inset 10px 8px 10px 8px black;


}

.hero:hover {
  box-shadow:10px 8px 10px 8px black;

}

.motto {
  text-align: center;
  background: wheat;
  margin: 4px;
  padding: 5px;
  border: 3px solid #4A0000;
  border-radius: 5px;
  box-shadow: 6px 5px 6px 5px black;
}

.htc {
  color: #000;
  text-align: center;
  background: wheat;
  margin: 4px;
  padding: 5px;
  border: 3px solid #4A0000;
  border-radius: 5px;
  box-shadow: 6px 5px 6px 5px black;
}

.our-vision, .our-mission {
  margin: 10px;
  padding: 7px;
  background: #709991;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 8px 10px 8px black;
  box-shadow:10px 8px 10px 8px black;

  overflow: hidden;
  filter: drop-shadow(2px 2px 2px 2px red);


  
}

.our-vision:hover,.our-mission:hover {
  box-shadow:inset 10px 9.5px 10px 9.5px black;
  color: #fff;
  padding: 20px;

}

.mission-img,.vision-img {
  border-radius: 90px;
  box-shadow: 6px 5px 6px 5px black;
  margin-bottom:16px;
  filter: drop-shadow(2px 2px 2px 2px red);
  width: 177px;

}

.aboutus {
  margin: 10px;
  padding:30px;
  text-align: center;
  background:#4A0000 ;
  box-shadow:inset 10px 8px 10px 8px #fff;

}

.aboutus-img {
  border-radius: 40px;
  box-shadow: 10px 8px 10px 8px black;
  width: 176px;
}

.supportus {
  margin: 10px;
  padding: 10px;
}

.scrow-img {
  margin: 5px;
  padding: 6.5px;
  
 
}

.contactus {
  margin: 10px;
  padding: 10px;
 
  
}

.forms {
  background: #42445A;
  border: 2px solid #4A0000;
  border-radius: 5px;
}

.register {
  margin: 10px;
  width: 320px;
  height: 720px;
}

@media (min-width: 768px) {
  .forms, .register {
    width: 530px;
    height: 780px;
    text-align: center;
  }
  
  
.contactus {
  margin: 10px;
  padding: 10px;
  display: grid;
grid-gap: 1px;
  
}

img {
  width: 250px;
  height: 200px;
}

  
}

#login-btn {
  width: 150px;
  height: 35px;
  
}

#splash-logo {
  width: 242px;
  height: 200px;
  margin:17px;
  border: 2px solid wheat;
  box-shadow: 10px 8px 10px 8px black;
  border-radius: 20px;

}

.splash-bar {
  margin: 5px;
  padding: 5px;
}

#splash-body  {
  background-color: #4A0000;
  text-align: center;
  
}
  .toggle-btn {
    margin: 10px;
    padding: 5px;
    border-radius: 55px;
    width: 60px;
    height: 55px;
    background: #4A0000;
    border: solid wheat 2px;
    position: fixed;
    left: 250px;
    right: 0px;
    bottom: 20px;
    z-index: 1000;
  
  }
  
  .toggle-btn-img {
    width: 45px;
    height: 43px;
    border-radius: 50px;
  }



.backtoTop {
  position: fixed;
  margin: 08px;
  left: 0px;
  right: 380px;
  bottom: 20px;
  z-index: 1000;
  border-radius: 60px;
  width: 60px;
  height: 50px;
}

#password {
  margin: 10px;
  padding: 10px;
  border: 2px solid wheat;
  border-radius: 20px;
  background: #4A0000;
  color: #fff;
  box-shadow: 10px 8px 10px 8px black;

}

#password:focus {
  background: wheat;
  color: #000;
  border: 3px solid #4A0000;
}


.footer {
  padding: 5.5px;
  background: #4A0000;
  color: #fff;
  text-align: center;
  
}

input::placeholder {
  color: #fff;
}



